@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


*{

  font-family: 'Roboto';
}

.btn--padding {

  display: inline-block;
  padding: 1em;

}

.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

:root {

  --primary: #4628ff;
  --warning: #ffd028;
  --white: #ffffff;
  --black: #000000;

}

.btn {

  font-family: 'Roboto', Calibri;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:hover {

  transform: translateY(-3px);
}


.btn--primary--solid {

  background-color: var(--primary);
  color: var(--white);
  border: none;
}

.btn--warning--solid {

  background-color: var(--warning);
  color: var(--black);
  border: none;
}

.btn--primary--outline {


  background-color: transparent;
  border: 2px solid var(--primary);
  color: var(--back);

}

.btn--warning--outline {


  background-color: transparent;
  border: 2px solid var(--warning);
  color: var(--black);

}

.btn--medium {

  padding: 10px 20px;
  font-size: 18px;
}

.btn--large {

  padding: 15px 30px;
  font-size: 20px;
}